@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* umumi  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}

.container {
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1.01;
}

h2 {
  font-size: 55px;
}

/* first basla */

.start {
  padding: 1rem 0 0;
  margin-bottom: 1rem;
}

.logo {
  max-width: 4.67rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.intro_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}

.start_info {
  margin-right: 6rem;
  font-size: 0.83rem;
}

.tesis {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tesis-item {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tesis-item img {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.2rem;
}

.intro_text {
  width: 26.25rem;
  font-size: 0.83rem;
}

.intro_text h1 {
  font-size: 3.33rem;
  margin-bottom: 1rem;
}

.intro_text p {
  line-height: 1.5;
}

.intro_img {
  margin-top: 2rem;
  min-width: 12.7rem;
  position: relative;
}

.intro_img .ellipse_1 {
  width: 90%;
  height: 1.7rem;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: -0.6rem;
  left: 1.4rem;
}

.intro_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.intro_quote {
  background-color: #1E4681;
  color: white;
  line-height: 1.3;
  width: 33%;
  min-width: 20.16rem;
  border-radius: 5px;
  padding: 0.8rem 1.1rem;
  margin: auto;
}

.intro_quote-text {
  font-family: 'Roboto Slab', serif;
  font-size: 1.04rem;
  margin-bottom: 0.9rem;
}

.intro_quote-author {
  text-align: end;
}

/* first end */

/* about basla */
.about {
  padding: 5rem 0 0;
}

.about-title {
  margin-bottom: 1rem;
}

.central-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
  margin-bottom: 2rem;
}

.about-course-text * {
  margin-bottom: 1rem;
  line-height: 150%;
}

.about-course-text *:last-child {
  margin-bottom: 0;
}

.about-central-img {
  margin-top: 2rem;
  min-width: 15.25rem;
  position: relative;
}

.about-central-img img {
  width: 86%;
  height: 86%;
  object-fit: contain;
  object-position: center;
}

.about-central-img .ellipse_2 {
  width: 100%;
  height: 2.45rem;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: -1rem;
  left: -0.8rem;
}

.bottom-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

}

.about-bottom-img {
  max-width: 9.67rem;
  position: relative;
}

.about-bottom-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.about-bottom-img .ellipse_3 {
  width: 81%;
  height: 1.33rem;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: -0.4rem;
  left: 1.4rem;
}

.offer {
  display: flex;
  gap: 4rem;
  align-items: center;
  line-height: 130%;
}

.offer-item {
  font-size: 0.75rem;
}

.offer-item p:first-child {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0.5rem;
}

/* about son */



@media (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  h2 {
    font-size: 26px;
  }

  .container {
    padding: 0 3rem;
  }

  /* first basla */
  .intro_text {
    font-size: 1rem;
  }

  .intro_text h1 {
    font-size: 37px;
  }

  .intro_wrap {
    display: block;
    max-width: 65rem;
  }

  .intro_img {
    margin-top: 0;
    margin-left: auto;
    max-width: 14.2rem;
  }

  .intro_quote {
    margin-left: 0;
  }

  /* first son */

  /* about basla */
  .about-title {
    margin-bottom: 2rem;
  }

  .about-course-text p:first-child {
    margin-bottom: 2rem;
  }

  .central-block {
    display: block;
  }

  .about-course-text {
    font-size: 1.2rem;
  }

  .about-central-img {
    margin: auto;
    width: 17rem;
  }

  .about-central-img img {
    width: 100%;
    height: 100%;
  }

  .about-bottom-img {
    display: none;
  }

  .offer {
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .offer-item {
    font-size: 1rem;
  }

  .offer-item p:first-child {
    font-size: 1.2rem;
  }

  /* about son */
}

