@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* umumi  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}

.container {
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1.01;
}

h2 {
  font-size: 55px;
}

/* first basla */

.start {
  padding: 1rem 0 0;
  margin-bottom: 1rem;
}

.logo {
  max-width: 4.67rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.intro_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}

.start_info {
  margin-right: 6rem;
  font-size: 0.83rem;
}

.tesis {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tesis-item {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tesis-item img {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.2rem;
}

.intro_text {
  width: 26.25rem;
  font-size: 0.83rem;
}

.intro_text h1 {
  font-size: 3.33rem;
  margin-bottom: 1rem;
}

.intro_text p {
  line-height: 1.5;
}

.intro_img {
  margin-top: 2rem;
  min-width: 12.7rem;
  position: relative;
}

.intro_img .ellipse_1 {
  width: 90%;
  height: 1.7rem;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: -0.6rem;
  left: 1.4rem;
}

.intro_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.intro_quote {
  background-color: #1E4681;
  color: white;
  line-height: 1.3;
  width: 33%;
  min-width: 20.16rem;
  border-radius: 5px;
  padding: 0.8rem 1.1rem;
  margin: auto;
}

.intro_quote-text {
  font-family: 'Roboto Slab', serif;
  font-size: 1.04rem;
  margin-bottom: 0.9rem;
}

.intro_quote-author {
  text-align: end;
}

/* first end */

/* about basla */
.about {
  padding: 5rem 0 0;
}

.about-title {
  margin-bottom: 1rem;
}

.central-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
  margin-bottom: 2rem;
}

.about-course-text * {
  margin-bottom: 1rem;
  line-height: 150%;
}

.about-course-text *:last-child {
  margin-bottom: 0;
}

.about-central-img {
  margin-top: 2rem;
  min-width: 15.25rem;
  position: relative;
}

.about-central-img img {
  width: 86%;
  height: 86%;
  object-fit: contain;
  object-position: center;
}

.about-central-img .ellipse_2 {
  width: 100%;
  height: 2.45rem;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: -1rem;
  left: -0.8rem;
}

.bottom-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

}

.about-bottom-img {
  max-width: 9.67rem;
  position: relative;
}

.about-bottom-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.about-bottom-img .ellipse_3 {
  width: 81%;
  height: 1.33rem;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  bottom: -0.4rem;
  left: 1.4rem;
}

.offer {
  display: flex;
  gap: 4rem;
  align-items: center;
  line-height: 130%;
}

.offer-item {
  font-size: 0.75rem;
}

.offer-item p:first-child {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0.5rem;
}

/* about son */

/* third start  */
.format {
  margin-top: 6.75rem;
}

.format-title,
.know-title {
  margin-bottom: 2rem;
}

.format-wrap {
  display: flex;
  gap: 3rem;
  width: 83%;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.title {
  font-size: 1.04rem;
  font-weight: 700;
  color: #1E4681;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 0.75rem;
  line-height: 130%;
}

.know-list {
  width: 55%;
  line-height: 150%;
  padding-left: 1.5rem;
}

/* third end  */

/* fourth start  */
.programm {
  margin-top: 6.75rem;
}

.programm-title {
  margin-bottom: 2rem;
}

.cards-wrap {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.54rem;
}

.cards-item {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  transition: transform 0.5s ease-in-out;
  max-width: 16.625rem;
}

.cards-item:hover {
  transform: scale(1.1);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-inner {
  padding: 0.8rem;
}

.card-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 130%;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.04rem;
  line-height: 130%;
}

/* fourth end  */
/* fifth start  */
.graduate {
  background-color: #EFEFEF;
  margin-top: 2rem;
}

.graduate .container {
  padding: 3.8rem 0.5rem 4.6rem;
}

.graduate-title {
  margin-bottom: 3.8rem;
}

.graduate-wrap {
  width: 63%;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  padding: 1.67rem 1.9rem 1rem;
}

.graduate-wrap p {
  font-size: 0.83rem;
  line-height: 150%;
}

.graduate-bottom {
  display: flex;
  align-items: center;
}

.bottom-img {
  width: 7.9rem;
}

.bottom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bottom-text {
  margin-left: 1.25rem;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-text h3 {
  font-size: 1.25rem;
}

.bottom-text img {
  width: 1.33rem;
}

/* fifth end  */
/* sixth start  */
.course-start {
  background-color: #9DC9C8;
}

.course-start .container {
  padding: 7.46rem 0.5rem 7.7rem;
}

.start-date {
  margin-bottom: 2.25rem;
}

.course-cost {
  margin-bottom: 3rem;
}

.course-cost p:first-of-type {
  font-size: 1.04rem;
}

.course-cost p:nth-of-type(2) {
  font-size: 3.33rem;
}

.cours-text {
  display: flex;
  width: 55%;
}

.cours-text-item p:first-of-type {
  font-size: 1.04rem;
  margin-bottom: 0.5rem;
}

.cours-text-item p:nth-of-type(2) {
  font-size: 0.75rem;
}

/* sixth end  */
/* footer */
.footer {
  background-color: #000000;
  color: #FFFFFF;
}

.footer .container {
  padding: 2.08rem 0.5rem;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.12rem;
}

.contacts-left {
  height: 7.41rem;
  width: 8.2rem;
}

.logo-white {
  width: 60%;
  margin-bottom: 1.25rem;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials img {
  max-width: 1.375rem;
  max-height: 1.375rem;
}

.contacts-right {
  width: 13.25rem;
}

.contacts-right img {
  max-width: 1.125rem;
  max-height: 1.125rem;
}

.phone,
.mail {
  display: flex;
  justify-content: flex-start;
  gap: 0.9rem
}

.phone {
  margin-bottom: 1rem;
}

.bottom {
  font-size: 0.75rem;
}

/* footer end */


@media (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  h2 {
    font-size: 26px;
  }

  .container {
    padding: 0 3rem;
  }

  /* first basla */
  .intro_text {
    font-size: 1rem;
  }

  .intro_text h1 {
    font-size: 37px;
  }

  .intro_wrap {
    display: block;
    max-width: 65rem;
  }

  .intro_img {
    margin-top: 0;
    margin-left: auto;
    max-width: 14.2rem;
  }

  .intro_quote {
    margin-left: 0;
  }

  /* first son */

  /* about basla */
  .about-title {
    margin-bottom: 2rem;
  }

  .about-course-text p:first-child {
    margin-bottom: 2rem;
  }

  .central-block {
    display: block;
  }

  .about-course-text {
    font-size: 1.2rem;
  }

  .about-central-img {
    margin: auto;
    width: 17rem;
  }

  .about-central-img img {
    width: 100%;
    height: 100%;
  }

  .about-bottom-img {
    display: none;
  }

  .offer {
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .offer-item {
    font-size: 1rem;
  }

  .offer-item p:first-child {
    font-size: 1.2rem;
  }

  /* about son */
  /* third basla */
  .format-wrap {
    flex-direction: column;
    padding: 0;
    width: 55%;
  }

  .title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1rem;
  }

  .know-list {
    width: 100%;
    font-size: 1.2rem;
  }

  /* third end  */

  /* fourth start  */

  .cards-wrap {
    padding: 3rem 6.5rem 3rem 0;
    margin-left: 6.25rem;
  }

  .card-title {
    font-size: 1.4rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  .container {
    margin: auto;
  }

  /* fourth end  */
  /* fifth start  */
  .graduate .container {
    padding: 3.8rem 3.6rem 4.6rem;
  }

  .graduate-title {
    margin-bottom: 2.5rem;
    width: 80%;
  }

  .graduate-wrap {
    width: 100%;
  }

  .graduate-wrap p {
    font-size: 1rem;
  }

  .graduate-bottom {
    margin-top: 1rem;
  }

  .bottom-text h3 {
    font-size: 1.4rem;
  }

  /* fifth end  */
  /* sixth startt */
  .course-start .container {
    padding: 6.2rem 3.6rem 6.35rem;
  }

  .course-cost p:first-of-type {
    font-size: 1.2rem;
  }

  .course-cost p:nth-of-type(2) {
    font-size: 3.7rem;
  }

  .cours-text {
    width: 99%;
  }

  .cours-text-item p:first-of-type {
    font-size: 1.2rem;
  }

  .cours-text-item p:nth-of-type(2) {
    font-size: 1rem;
  }

  /* suxth end */
  /* footer */
  .footer .container {
    padding: 2.33rem 3.6rem;
  }

  .footer-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 4.9rem;
  }

  .contacts-right {
    font-size: 1.2rem;
    width: 50%;
  }

  .socials img {
    min-width: 1.6rem;
    min-height: 1.6rem;
  }

  .contacts-right img {
    min-width: 1.258rem;
    min-height: 1.258rem;
  }

  .bottom {
    font-size: 1rem;
  }

  /* footer end */
}

@media (min-width: 769px) and (max-width: 1130px) {
  html {
    font-size: 14px;
  }

  h2 {
    font-size: 32px;
  }

  .container {
    padding: 0 3rem;
  }

  /* first basla */

  .intro_text {
    font-size: 0.86rem;
  }

  /* first end */

  /* about basla */
  .offer-item {
    font-size: 0.78rem;
  }

  .offer-item p:first-child {
    font-size: 1.07rem;
  }

  .about-course-text {
    max-width: 40rem;
  }

  /* about son */
  /* foruth start  */
  .cards-wrap {
    padding: 3rem 6.5rem 3rem 0;
  }

  .cards-item {
    max-width: 20rem;
  }

  /* fourth end  */
  /* fifth start  */
  .graduate .container {
    padding: 3.8rem 3rem 4.6rem;
  }

  .graduate-wrap {
    max-width: 32.7rem;
  }

  /* fifth end  */
  /* sixth start */
  .course-start .container {
    padding: 6.2rem 3rem 6.35rem;
  }

  .cours-text {
    max-width: 27rem;
  }

  /* sixth end */
  .footer .container {
    padding: 2.33rem 3rem;
  }

}