@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* umumi  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
}
.container {
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  padding: 0 1rem;
}
h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1.01;
}
h2 {
  font-size: 55px;
}

/* third start  */
.format {
  margin-top: 6.75rem;
}
.format-title,
.know-title {
  margin-bottom: 2rem;
}
.format-wrap {
  display: flex;
  gap: 3rem;
  width: 83%;
  padding: 2rem 0;
  margin-bottom: 4rem;
}
.title {
  font-size: 1.04rem;
  font-weight: 700;
  color: #1E4681;
  margin-bottom: 0.5rem;
}
.text {
  font-size: 0.75rem;
  line-height: 130%;
}
.know-list {
  width: 55%;
  line-height: 150%;
  padding-left: 1.5rem;
}
/* third end  */

@media (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  h2 {
    font-size: 26px;
  }
  .container {
    padding: 0 3rem;
  }
/* third basla */
  .format-wrap {
    flex-direction: column;
    padding: 0;
    width: 55%;
}
    
  }
  .title {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1rem;
  }
  .know-list {
    width: 100%;
    font-size: 1.2rem;
  }
  /* third end  */

@media (min-width: 769px) and (max-width: 1130px) {
  html {
    font-size: 14px;
  }
  h2 {
    font-size: 32px;
  }
  .container {
    padding: 0 3rem;
  }
}
